{:db-config
 {:collection-name "workouts"
  :db-name "hit-wl-db"}
 :nomad/environments
 {"dev"
  {:env :dev
   :db-config
   {:collection-name "workouts"
    :db-name "hit-wl-db"}
   :frodo/config {:nrepl {:port 7779
                          :cljs-repl? true}
                  :web {:port 7777
                        :app hit-wl.handler/frodo-app}}}
  "heroku"
  {:env :heroku
   :db-config
   {:collection-name "workouts"
    :db-name "hit-wl-db"
    :uri #nomad/env-var "HIT_WL_MONGO_URL"}
   :frodo/config {:web {:port #nomad/edn-env-var "PORT"
                        :app hit-wl.handler/frodo-app}}}}
 }
